{% extends "layout.html" %}
{% block content %}
<div class="about">

    <div class="container text-light">
        <h3 class="mb-5">About Us</h3>
        <p>Since 1987, our company has been manufacturing and marketing food and textiles. Our trade has been completely abroad for nearly 30 years. We have had trade with every region of the world. Our customers are mostly from Middle East, Africa, Europe and Russia hinterland.</p>

        <p>Trade has been done recently through communication rather than directly. You can contact us from the contact section.</p>

    </div>

</div>
{% endblock %}