{% extends "layout.html" %}
{% block content %}
<div class="contact">
    <div class="container">
        <h3 class="mb-4 text-white">Contact</h3>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action bg-color-list ">Name : Samed Can</button>
            <button type="button" class="list-group-item list-group-item-action bg-color-list ">Surname :  Çobanlı</button>
            <button type="button" class="list-group-item list-group-item-action bg-color-list">Telephone : 0553 183 90 30 <span class="text-muted note">For All Round the World</span></button>
            <button type="button" class="list-group-item list-group-item-action bg-color-list ">E-posta : cobanli17@itu.edu.tr</button>
            <button type="button" class="list-group-item list-group-item-action bg-color-list ">Adress :  Istanbul Technical University</button>
        </div>
        <a href="https://www.instagram.com/sametcancobanli/?hl=tr" class="insta-link">
            <i class="fab fa-instagram"></i> Instagram Account
        </a>
    </div>
</div>
{% endblock %}